.footer {
	background-color: rgb(32, 32, 32);
	color: #fff;
}

.footer__wrap {
	justify-content: space-between;
	padding: 20px;
	flex-wrap: wrap;
}

.footer__mail-text {
	text-align: center;
	line-height: 24px;
	font-weight: 600;
}